/* media query per layout responsive */

.card-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    gap: 25px;
    max-width: 500px;
    margin: 0 auto;
    flex-wrap: wrap;

    /* blocco card */
    .card {
        width: 100%;
        max-width: 250px;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-shadow:
            /* uso doppia ombra con bassa opaciita'per effetto naturale */
            0 2px 4px rgba(0, 0, 0, 0.53),
            0 8px 16px rgba(0, 0, 0, 0.409);

        /*elementi card*/
        .photo-caption {
            padding-top: 2px;
        }

        .photocard-container {
            width: 100%;

            .photo {
                width: 100%;

            }

            .pin-container {
                position: absolute;
            }

            .pin {
                position: relative;
                width: 1.6rem;
                left: 300%;
                transform: translate(50%, -120%);
            }

        }

    }
}

.blog-header {
    font-size: 36px;
}

.modal-image {
    max-width: 300px;

}

.close-btn {
    top: -13%;
    right: 46%;
}


/* .btn-carousel-prev {
        transform: translate(-220px, -10px);
        
    } 

    .btn-carousel-nxt {
        translate(168px, -10px)
    }
    /*

/* tablet */

@media screen and (min-width:768px) {
    .container-main {
        padding: 30px;
    }

    .card-container {
        max-width: 650px;
        padding: 20px 60px;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .card {
            width: calc((100% / 2) - (20px * 1)/2);
            /* layout a 3 colonne (desktop) */
            flex-direction: column;
            align-items: center;
            padding: 15px;

            /*elementi card*/
            .photo-caption {
                padding-top: 8px;
            }

        }
    }

    .blog-header {
        font-size: 32px;
    }

    .modal-image {
        max-width: 400px;

    }

    .btn-carousel-prev {
        transform: translate(-220px, -10px);
        /* posizioniamo sta icona */
    }

    .btn-carousel-nxt {
        transform: translate(220px, -10px);
        /* posizioniamo sta icona */
    }


}

/* desktop */

@media screen and (min-width:992px) {

    .container-main {
        padding: 50px;
    }

    .card-container {
        max-width: 800px;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;

        .card {
            width: calc((100% / 3) - (15px * 2)/3);
            /* layout a 3 colonne (desktop) */
            flex-direction: column;
            align-items: center;
            padding: 15px;

            /*elementi card*/
            .photo-caption {
                padding-top: 8px;
            }

        }
    }

    .blog-header {
        font-size: 28px;
    }

    .modal-image {
        max-width: 500px;

    }

    .btn-carousel-prev {
        transform: translate(-268px, -10px);
        /* posizioniamo sta icona */
    }

    .btn-carousel-nxt {
        transform: translate(268px, -10px);
        /* posizioniamo sta icona */
    }

    .close-btn {
        top: -10%;
        right: 46%;

    }

}