
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

.date-font {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}

.title-font {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}

.header-font {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: <700>;
  font-style: normal;
}


/* Utilities */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}


/* header */

.blog-header {
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/wall.png);
    padding: 30px 0;
}


/* main */

.container-main {
    margin: 0 auto;
    padding: 50px 0;
    background-image: url(../img/cork.png);
}

.card-container {
    
    justify-content: space-between;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;

    /* blocco card */
    .card {
        background-color: white;
        width: calc((100% / 3) - (15px * 2)/3); /* layout a 3 colonne (desktop) */
        flex-direction: column;
        align-items: center;
        padding: 15px;
        box-shadow: /* uso doppia ombra con bassa opaciita'per effetto naturale */
            0 2px 4px rgba(0, 0, 0, 0.53), 
            0 8px 16px rgba(0, 0, 0, 0.409);

        /*elementi card*/
        .photo-caption {
            padding-top: 8px;
        }

        .photocard-container {

            .photo {
                width: 100%;

            }

            .pin-container {
                position: absolute;
            }
            .pin {
                position:relative;
                translate: 100px -25px;
                width: 1.6rem;
            }

        }

    }
}