
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}


.card-container {
    background-color: peachpuff;
    justify-content: space-between;
    gap: 15px;
    max-width: 900 px;
    flex-wrap: wrap;


    .card {
        background-color: rosybrown;
        width: calc((100% / 3) - (15px * 2)/3); /* layout a 3 colonne (desktop) */
    }
}