
/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */

.date-font {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}

.title-font {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <300>;
  font-style: normal;
}

.header-font {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: <700>;
  font-style: normal;
}


/* Utilities */

.d-none {
    display: none; 
}

.d-flex {
    display: flex;
}

.btn-plain {
    padding: 8px 8px;
    border-radius: 11px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* header */

.blog-header {
    margin: 0 auto;
    text-align: center;
    background-image: url(../img/wall.png);
    padding: 30px 0;
}

.blog-header {
    font-size: 32px;
}

/* background */
body {
    background-image: url(../img/cork.png);
}

/* main */

.container-main {
    margin: 0 auto;
    padding: 15px 0;


}

    .card:hover  {
       rotate: -20deg; /* ruoto di 20 gradi a dx */
       transition: transform 0.7s ease-in-out; /* faccio una transition lenta */
       transform: scale(1.05); /* ingrandisco */
       z-index: 999; /* metto in primo piano per scavalcare le pin delle altre card*/

       .pin {
        display: none; /* byeebye pin della card */
       }
    }

/* Modale / overlay */

.modal-container {
    background-color: rgba(0, 0, 0, 0.71);
    align-items: center;
    justify-content: center;
    position: fixed; /* lo posiziono a inizio pagina */
    top: 0;
    left:0;
    z-index: 9998; /* sopra tutti gli altri pianiii */
    height: 100%; /* che occupi tutta la viewport */
    width: 100%;
    
}

.modal {
    position: absolute;
    padding: 20px;
    background-color: white;
}

.close-btn {
    color: white;
    font-size: 30px;
    position: absolute;
    cursor: pointer; /* ci mette il ditinooo */
}

.modal-image {
    max-width: 300px;

}

.btn-carousel-prev, .btn-carousel-nxt {
    color: white;
    font-size: 45px;
    z-index: 9999; /* appena sopra il modal-container */
}

.btn-carousel-prev {
    position: relative; /* relativizzo posizione in base a .modal */
    transform: translate(-200px, -10px); /* posizioniamo sta icona */
}

.btn-carousel-nxt {
    position: relative; /* relativizzo posizione in base a .modal */
    transform: translate(190px, -10px); /* posizioniamo sta icona */
}

.memory-btn-container {
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}


.new-memory-form-container {
    justify-content: center;
    align-items: center;
margin-bottom: 30px

}

.field {
    padding: 10px 0;
}

.form-card {
    background: white;
    min-width: 250px;
    padding: 30px 20px;
    border-radius: 15px;
}

.btn-submit-container {
    justify-content: center;
    padding-top: 15px;
}

#anteprima {
    max-width:150px;
}

.form-thumbnail-container {
    padding-top: 15px;
}